.calendar {
	padding: 0 2.5rem;

	&-table {
		width: 100%;

		td {
			padding: 0.5rem;
		}

		.btn-text {
			font-family: 'Pacifico', cursive;
			font-weight: lighter;
		}
	}

	.link:hover {
		transform: translate(0.3rem, -0.3rem) scale(1.05);
	}
}
