* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; //1rem = 10px ==> 10px/16px = 62.5%
}

body {
	background-color: $secondary-color;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	width: 80%;
	margin: 1rem auto;
	text-align: center;
}

.flex-container {
	display: flex;
}

.body-section {
	flex: 5;
	background-color: $plain-color;
	padding: 3rem 1rem;
	border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
}
